<h1>My Products</h1>


    <% unless @current_user_prods.empty? %>
        <ul>
            <% @current_user_prods.each do |prod|%>
            <li>
                <%= prod.product_name %>
            </li>
            <% end %>
        </ul>
        <% else %>
        You don't have any products.
            <br>
        
            <%= link_to "Add Products", createproduct_path, class: "btn btn-primary" %>

    <% end %>
 
    