<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BANAGAZON", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Shop <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>This will</li>
            <li>show a list</li>
            <li>of categories.</li>
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sell <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>My Products</li>
            <li class="divider"></li>
           <li> <%= link_to "Create Product", createproduct_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>My Products</li>
            <li>Settings</li>
            <li>Sign Out</li>
            <li class="divider"></li>
          </ul>
        </li>
        <li><%=	 link_to "Help", help_path %></li>

      </ul>
    </nav>
  </div>
</header>